main {
  
  height: max-content;
  min-height: max-content;
}

main #introText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 3.5rem;
}

.introText {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 60px;
}

main #nameTitle{
  /*animation: move-forever 1s cubic-bezier(.55,.5,.45,.5) 1;
  {/**Moon *}
  <img 
  id='moonImage'
  src={moon} 
  alt='moonImage'
  //style={{backgroundImage: `url(${moon})`, backgroundSize: 'contain', backgroundPosition: 'cover', backgroundRepeat: 'no-repeat'}}
  className=' absolute z-0 '
/>
<div className='w-full md:w-1/3 md:mx-auto'>
<img 
  id='sunImage' 
  src={sunImage} 
  alt='sunImage'
  className='hidden absolute h-40 animate-pulse w-40 top-40 left-40'
/>
<div className='' style={{width:"90%", height: 0, paddingBottom:"118%", position: 'relative'}}><iframe className='animate__animated animate__flip top-20 left-8' src="https://giphy.com/embed/Gm3N6JD6AQcDkbPd4l" title='runner' width="50%" height="50%" style={{position: 'absolute'}} frameBorder="0"></iframe></div>
  */

}

.projectImageDiv{
  overflow-y: hidden !important;
}

.myImage {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 40.5%;
  height: 45%;
  z-index: 1;
}

.myImageContainer {
  position: fixed;
  bottom: -10%;
  left: -10%;
  width: 100vw;
  height: max-content;
  border-radius: 50px;
}

main img#swingingGif {
  /*animation: move-forever 1s cubic-bezier(.55,.5,.45,.5) infinite;*/
  min-height: 30%;
  min-width: 100%;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-100px,0,0);
  }
  80% { 
    transform: translate3d(1000px,0,0);
  }
  100% {
    font-size: larger;
  }
}