/**{
    background: #000 !important;
    outline: solid #f00 1px !important;
}*/

html,
body{
    width: 100%;
    height: max-content;
    max-width: 100vw;
    box-sizing: border-box;
    max-height: max-content;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-image: url('./images/endless-constellation.svg');
    background-size: cover;
}


/*{
    font-size: 16px;
    max-width: 100vw;
    
}*/

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



/*Header section Styling*/
.header{
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    height: 7vh;
    background-color: #110c11;
    color: white;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    z-index: 5;
  }  
.header h2 {
    font-size: 20px;
    font-family: cursive;
  }



/*Intro section Styling*/
.intro{
    width: 100vw;
    height: 100vh;
    /*background-image: url("./images/wavey-fingerprintBW.svg");*/
    /*background-color: #1d1d1d;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.intro .introduction{
    width: max-content;
    height: 40%;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
}
.intro .introduction p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
}
.be-heavy{
    color: rgb(197, 197, 118);
}

/*Button to Projects*/
div.projects-link{
    width: 50vw;
    height: 8vh;
    background-color: rgb(88, 25, 25);
    border: 2px solid rgb(160, 48, 48);
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    opacity: 0.8;
    z-index: 1;
}
div.projects-link:hover {
    width: 50vw;
    height: 8vh;
    background-color: rgb(47, 21, 48);
    border: 2px solid rgb(202, 181, 181);
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    opacity: 0.8;
    z-index: 1;
}
.projects-link p a{
    text-decoration: none;
    color: white;
    font-family: Tahoma, sans-serif;
}
.projects-link #pointer{
    height: 16px;
    width: 16px;
    position: relative;
    top: -6.5px;
    background-color: white;
    border-radius: 50%;
}
.projects-link #pointer:hover{
    height: 16px;
    width: 16px;
    position: relative;
    top: -6.5px;
    background-color: white;
    border-radius: 50%;
    transform: rotate(90deg);
}

/*About section Styling*/
.about{
    height: 50vh;
    width: 100vw;
    /*background-image: url("./images/wavey-fingerprint.svg");*/
    background-color: rgba(25, 99, 25, 0.356);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
#my-image{
    position: absolute;
    top: 63vh;
    left: 25vw;
    margin: 17.5vh auto 0;
    width: 75%;
    height: 70%;
    opacity: 0.4;
    z-index: 0;
}

.about h2{
      z-index: 2;
      color: rgb(236, 234, 255);
      font-size: 28px;
      font-family: sans-serif;
  }
.about-text{
      padding: 5%;
      z-index: 2;
      color: rgb(226, 223, 223);
      font-family: lato, sans-serif;
      word-spacing: 2px;
  }


/*Projects section Styling*/
.projects {
    padding-top: 15%;
    height: auto;
    width: 100vw;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(95, 40, 40, 0.192);
    color: white;
}
.projects h1{
    margin: 30px auto;
    font-family: sans-serif;
    font-size: 28px;
    color:rgb(221, 222, 243)
}
.projects.container{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.project{
    height: 20vh;
    width: 20vh;
    background-color: #f1f1f1;
    margin: 10px;
}



/*Contact section Styling*/
.contact-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    padding-top: 3vh;
    color: white;
    background-color: #1d1d1d;
}
.contact-sec :nth-child(1){
    color: rgb(245, 245, 136);
}
.contact-sec :nth-child(2){
    color: rgb(255, 255, 254);
    text-align: center;
}
.contact.container{
    justify-content: center;
    background-color: rgb(31, 9, 9);
    width: 90%;
    height: 10vh;
}
.contact-icons{
    width: 100vw;
    height: 5vh;
}